body{
    background-color: rgb(30,30,30);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}
#navigation_ul{
    list-style-type: none;
    padding: 0px;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0px;
    z-index:2;
    background-color: rgb(50,50,50);
    overflow: hidden;
}

.navigation{
    /* float:right; */
    display: inline-block;
}

nav{
    text-align:right;
}

.navigation a{
    display: block;
    padding: 20px;
    transition:all .3s;
    text-decoration: none;
    font-size: 20px;
    padding: auto;
    color: white;
}

.navigation a:hover{
    background-color: rgb(70,70,70);
}

.logo{
    display:flex;
    position: relative;
    float:left;
    left:50px;
    top:3px;
    cursor: pointer;
}  
  
#logotext{
    color:white;
    display:flex;
    font-size: 25px;
    text-align: center;
    position: relative;
    top: 13px;
    left: 10px;
    cursor: pointer;
}

.logo img{
    display:flex;
    width: 60px;
    height: 60px;
}
.PYAS_title{
    color: white;
    position:absolute;
    top:20%;
    left:50%;
    font-size: 25px;
    transform: translate(-50%,-50%);
}
.PYAS_text{
    color:rgb(255,255,255); 
    position: absolute;
    font-size: 25px;
    left: 50%;
    top: 25%;  
    transform: translate(-50%,-50%);
}
#download_button{
    color:rgb(255,255,255); 
    position: absolute;
    font-size: 25px;
    left: 50%;
    top: 47%;  
    cursor: pointer;
    transform: translate(-50%,-50%);
    border: 0px;
    background-color:rgba(255,255,255,0); 
}

.system_list{
    color:white;
    display:flex;
    font-size: 20px;
    text-align: center;
    margin:10px;
    list-style-type: none;
    position: absolute;
    left: 50%;
    top: 95%;   
    transform: translate(-50%,-50%);
}

.system_title{
    color:rgb(255,255,255); 
    position: absolute;
    font-size: 25px;
    left: 50%;
    top: 60%;  
    transform: translate(-50%,-50%);
}

.PYAS_video{
    color: white;
    position:absolute;
    top:125%;
    left:50%;
    font-size: 25px;
    transform: translate(-50%,-50%);
}

.announcement{
    color: white;
    position:absolute;
    top:190%;
    left:50%;
    font-size: 25px;
    transform: translate(-50%,-50%);
}

#view_github{
    color:rgb(255,255,255); 
    position: absolute;
    font-size: 25px;
    left: 50%; 
    top:218%;
    cursor: pointer;
    transform: translate(-50%,-50%);
    border: 0px;
    background-color:rgba(255,255,255,0); 
}
#made{
    color:rgb(255,255,255); 
    position: absolute;
    font-size: 15px;
    left: 50%; 
    top: 328%;
    transform: translate(-50%,-50%);
}

.PYAS_download{
    color:rgb(255,255,255); 
    position: absolute;
    font-size: 25px;
    left: 50%;
    top: 15%;  
    transform: translate(-50%,-50%);
    border: 0px;
    background-color:rgba(255,255,255,0); 
}

.WinTWS_download{
    color:rgb(255,255,255); 
    position: absolute;
    font-size: 25px;
    left: 50%;
    top: 20%;  
    transform: translate(-50%,-50%);
    border: 0px;
    background-color:rgba(255,255,255,0); 
}

#about_PYAS{
    color:rgb(255,255,255); 
    position: absolute;
    font-size: 50px;
    left: 50%;
    top: 15%;  
    transform: translate(-50%,-50%); 
}

#feedback_title{
    color:rgb(255,255,255); 
    position: absolute;
    font-size: 50px;
    left: 50%;
    top: 230%;  
    transform: translate(-50%,-50%); 
}

#nameText{
    background-color: rgba(255,255,255,0);
    border: 0px;
    border-bottom-color: rgb(230, 230, 230);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: white;
    position: absolute;
    font-size: 20px;
    left: 50%;
    top: 245%;  
    transition:all .3s;
    width: 550px;
    height: 40px;
    transform: translate(-50%,-50%); 
}

#nameText:focus{
    outline: 0;
    border: 0px;
    border-bottom-color: rgb(230, 230, 230);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#emailText{
    background-color: rgba(255,255,255,0);
    border: 0px;
    border-bottom-color: rgb(230, 230, 230);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: white;
    position: absolute;
    font-size: 20px;
    left: 50%;
    top: 255%;  
    transition:all .3s;
    width: 550px;
    height: 40px;
    transform: translate(-50%,-50%); 
}

#emailText:focus{
    outline: 0;
    border: 0px;
    border-bottom-color: rgb(230, 230, 230);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#messageText{
    background-color: rgba(255,255,255,0);
    border: 1px;
    border-color: rgb(230, 230, 230);
    border-style: solid;
    border-width: 1px;
    color: white;
    position: absolute;
    font-size: 20px;
    left: 50%;
    top: 282%;  
    transition:all .3s;
    resize:none;
    width: 550px;
    height: 300px;
    transform: translate(-50%,-50%); 
}

#messageText:focus{
    outline: 0;
    border: 1px;
    border-color: rgb(230, 230, 230);
    border-style: solid;
    border-width: 1px;
}

#feedback_button{
    background-color: rgb(70,70,70);
    border: 0px;
    border-radius: 10px;
    color: white;
    position: absolute;
    font-size: 20px;
    left: 50%;
    top: 310%;  
    transition:all .3s;
    width: 150px;
    cursor: pointer;
    height: 50px;
    transform: translate(-50%,-50%); 
}

#feedback_button:hover{
    background-color: rgb(100,100,100);
}

.info_div{
    display: block;
    color:rgb(255,255,255); 
    position: absolute;
    font-size: 20px;
    left: 20%;
    top: 80%;  
    transform: translate(0%,-50%); 
}

.pyas_url{
    color:rgb(255,255,255); 
}

#showmenu {
    display: none;
  }

@media (max-width: 980px){
    .navigation a{
        display: none;
    }
    #showmenu{
        display: block;
    }
    #showmenu a{
        display: block;
        padding: 20px;
        transition:all .3s;
        text-decoration: none;
        font-size: 20px;
        padding: auto;
        color: white;
    }
    
    #showmenu a:hover{
        background-color: rgb(70,70,70);
    }
    #showmenu{
        /* float:right; */
        display: inline-block;
    }
}
